<div class="panel panel-default">
  <div class="panel panel-body">
  <h2>Set Up a listing</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <p class="alert alert-danger alert-sm">
          <% @restaurant.errors.full_messages.each do |message| %>
            <%= message %><br/>
          <% end %>
        </p>
      </div>
    <%end%>

    <div class="form-group">
      <%= f.label "listing name:" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Address:" %><br />
      <%= f.text_field :address, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Phone number:" %><br />
      <%= f.phone_field :phone_number, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "listing's Website:" %><br />
      <%= f.text_field :website_url, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Facebook Page:" %><br />
      <%= f.text_field :facebook_page, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Twitter handle:" %><br />
      <%= f.text_field :twitter_handle, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Please write a desrciption of your listing:" %><br />
      <%= f.text_area :description, autofocus: true, class: "form-control",rows: "5" %>
    </div>


    <div>
      <label>Hours of Operation</label>
      <div id="dayBtnsWrapper">
        <div class="row">
          <div class="col-sm-1">
            <strong>Day</strong>
          </div>
          <div class="col-sm-2">
            <strong>Opening Hours</strong>
          </div>
          <div class="col-sm-2">
            <strong>Closing Hours</strong>
          </div>
          <div class="col-sm-7">
            <strong>Program of the day</strong>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-1">
            <a class="btn btn-default" id="monday">Mon</a>
          </div>
          <div class="col-sm-2">
            <input type="time" id="monday_opening_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-2">
            <input type="time" id="monday_closing_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-7">
            <input type="text" id="monday_program" class="form-control" disabled/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-1">
            <a class="btn btn-default" id="tuesday">Tue</a>
          </div>
          <div class="col-sm-2">
            <input type="time" id="tuesday_opening_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-2">
            <input type="time" id="tuesday_closing_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-7">
            <input type="text" id="tuesday_program" class="form-control" disabled/>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-1">
            <a class="btn btn-default" id="wednesday">Wed</a>
          </div>
          <div class="col-sm-2">
            <input type="time" id="wednesday_opening_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-2">
            <input type="time" id="wednesday_closing_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-7">
            <input type="text" id="wednesday_program" class="form-control" disabled/>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-1">
            <a class="btn btn-default" id="thursday">Thu</a>
          </div>
          <div class="col-sm-2">
            <input type="time" id="thursday_opening_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-2">
            <input type="time" id="thursday_closing_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-7">
            <input type="text" id="thursday_program" class="form-control" disabled/>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-1">
            <a class="btn btn-default" id="friday">Fri</a>
          </div>
          <div class="col-sm-2">
            <input type="time" id="friday_opening_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-2">
            <input type="time" id="friday_closing_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-7">
            <input type="text" id="friday_program" class="form-control" disabled/>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-1">
            <a class="btn btn-default" id="saturday">Sat</a>
          </div>
          <div class="col-sm-2">
            <input type="time" id="saturday_opening_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-2">
            <input type="time" id="saturday_closing_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-7">
            <input type="text" id="saturday_program" class="form-control" disabled/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-1">
            <a class="btn btn-default" id="sunday">Sun</a>
          </div>
          <div class="col-sm-2">
            <input type="time" id="sunday_opening_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-2">
            <input type="time" id="sunday_closing_hour"  class="form-control" disabled/>
          </div>
          <div class="col-sm-7">
            <input type="text" id="sunday_program" class="form-control" disabled/>

          </div>
        </div>
      </div>
    </div>
      open 24/7? :
     <input type="checkbox" id="openallthetimecheck" checked/>

    <%= f.hidden_field :opening_days_hours %>



    <br/>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "restaurants/shared/links" %>

</div>
</div>

