<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel panel-body panel-restaurant">
        <h2>Edit <%= current_restaurant.name %></h2>
        <% if current_restaurant.errors.any? %>
        <div id="error_explanation">
          <p class="alert alert-danger alert-sm">
            <% current_restaurant.errors.full_messages.each do |message| %>
            <%= message %><br/>
            <% end %>
          </p>
        </div>
        <%end%>
        <div class="col-xs-4">
         <%= form_for(current_restaurant, url: restaurant_update_path) do |f| %>
          <div class="form-group">
            <%= f.label "Establishment Name:" %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "Establishment category:" %><br />
            <%if Restaurant::CATEGORIES.include? current_restaurant.category %>
              <select id="main-category" class="form-control">
                <%Restaurant::CATEGORIES.each do |category| %>
                  <option value="" <%="selected" if category == current_restaurant.category %>><%=category%></option>
                <% end %>
              </select>
              <input type="text" name="restaurant[category]" id="type_category" placeholder="Custom category" class="form-control">
            <% else %>
            <div id="test">
              <select id="main-category" class="form-control">
                <%Restaurant::CATEGORIES.each do |category| %>
                  <option value="" <%="selected" if category == "Other" %>><%=category%></option>
                <% end %>
              </select>
              <input type="text" id="type_category" placeholder="Custom category" class="form-control" name="restaurant[category]" value="<%= current_restaurant.category %>">
            </div>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label "Address:" %><br />
            <%= f.text_field :address, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "Cover picture:" %><br />
            <%= f.file_field :cover_picture, autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label "Phone number:" %><br />
            <%= f.phone_field :phone_number, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "Website:" %><br />
            <%= f.text_field :website_url, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "Facebook Page:" %><br />
            <%= f.text_field :facebook_page, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "Twitter handle:" %><br />
            <%= f.text_field :twitter_handle, autofocus: true, class: "form-control" %>
          </div>


          <div class="actions" id="submit-sign-up">
            <%= f.submit "class" ,Save: "btn btn-primary signUpbtn" %><br/>
            <i class="fa fa-spinner fa-pulse fa-lg" id="new_restaurant_sign_up"></i>
          </div>


        </div>


        <div id="div" >
          <div class="col-xs-8 divBorder" >

            <h3>Hours of Operation</h3>
            <br>
            <div id="dayBtnsWrapper">
              <div class="row">
                <div class="col-sm-1">
                 Week Day
               </div>
               <div class="col-sm-2">
                 Opening Hour
               </div>
               <div class="col-sm-2">
                 Closing Hour
               </div>
               <div class="col-sm-7">
                 Program of the day
               </div>
             </div>

             <br/>
             <div class="row">
              <div class="col-sm-1">

                <a class="btn btn-default"  role="button" id="monday">Mon</a>
              </div>
              <div class="col-sm-2">
                <input type="time" id="monday_opening_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-2">
                <input type="time" id="monday_closing_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-7">
                <input type="text" id="monday_program" class="form-control" disabled/>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-1">
                <a class="btn btn-default" role="button" id="tuesday">Tue</a>
              </div>
              <div class="col-sm-2">
                <input type="time" id="tuesday_opening_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-2">
                <input type="time" id="tuesday_closing_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-7">
                <input type="text" id="tuesday_program" class="form-control" disabled/>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-1">
                <a class="btn btn-default" role="button" id="wednesday">Wed</a>
              </div>
              <div class="col-sm-2">
                <input type="time" id="wednesday_opening_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-2">
                <input type="time" id="wednesday_closing_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-7">
                <input type="text" id="wednesday_program" class="form-control" disabled/>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-1">
                <a class="btn btn-default" role="button" id="thursday">Thu</a>
              </div>
              <div class="col-sm-2">
                <input type="time" id="thursday_opening_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-2">
                <input type="time" id="thursday_closing_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-7">
                <input type="text" id="thursday_program" class="form-control" disabled/>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-1">
                <a class="btn btn-default" role="button" id="friday" >Fri</a>
              </div>
              <div class="col-sm-2">
                <input type="time" id="friday_opening_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-2">
                <input type="time" id="friday_closing_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-7">
                <input type="text" id="friday_program" class="form-control" disabled/>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-1">
                <a class="btn btn-default" role="button" id="saturday" >Sat</a>
              </div>
              <div class="col-sm-2">
                <input type="time" id="saturday_opening_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-2">
                <input type="time" id="saturday_closing_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-7">
                <input type="text" id="saturday_program" class="form-control" disabled/>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-1">
                <a class="btn btn-default" role="button" id="sunday">Sun</a>
              </div>
              <div class="col-sm-2">
                <input type="time" id="sunday_opening_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-2">
                <input type="time" id="sunday_closing_hour"  class="form-control" disabled/>
              </div>
              <div class="col-sm-7">
                <input type="text" id="sunday_program" class="form-control" disabled/>
              </div>
            </div>
            <br>
            <span class="btn btn-default" role="button" id="openallthetimecheck">24/7</span>
            <%= f.hidden_field :opening_days_hours %>


            <div class="form-group">
             <h3>Establishment description:</h3>
             <%= f.text_area :description, autofocus: true, class: "form-control",rows: "6",column: "2" %>

           </div>
           <br>

         </div>
       </div>
     </div>

     <% end %>



   </div>

 </div>
</div>
</div>



























