<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
  <h2>Create a new booking for <%= @restaurant.name.titleize%></h2>
  <%= form_for [@restaurant, @booking] do |f| %>
     <% if @booking.errors.any? %>
        <div id="error_explanation">
          <p class="alert alert-danger alert-sm">
            <% @booking.errors.full_messages.each do |message| %>
            <%= message %><br/>
            <% end %>
          </p>
        </div>
        <%end%>
    <div class="field form-group">
    <%= f.label 'Select date'%><br/>
    <%= f.datetime_local_field :date, class: "form-control" %><br/><br/>

    <%= f.label 'Number of person:'%><br/>
    <%= f.number_field :number_of_people, min:1, class: "form-control"%><br/><br/>

    <%= f.label 'Note for reservation:'%><br/>
    <%= f.text_area :user_comment, class: "form-control"%><br/><br/>
  </div>
    <%= f.submit 'Send request', class: "btn btn-primary" %>

  <% end %>


      </div>
    </div>
  </div>
</div>

