<div class="container">
  <% if @all_bookings == [] and @todays_booking == nil %>
    <h2>Your place has no booking for now..</h2>
  <% else %>
      <% if @todays_bookings == [] %>
        <h3>No bookings for today</h3>
      <% else %>
        <h3>Todays booking</h3>
        <% @todays_bookings.each do |todays_booking| %>
          <%= link_to "#" do %>
            <%= image_tag User.find(todays_booking.user_id).picture.url(:thumb) %>
            <%= User.find(todays_booking.user_id).first_name.titleize %>
            <%= User.find(todays_booking.user_id).last_name.titleize %>
          <% end %>

          <%= distance_of_time_in_words_to_now(todays_booking.updated_at) %>
          <br/>
          Reservation for <%= todays_booking.number_of_people %><br/>
          on <%= todays_booking.date.to_formatted_s(:long_ordinal) %> <br/>
          <%= todays_booking.user_comment %><br>

          <br/><br/>
          <% end %>
    <% end %>
    <hr>
    <h3>On comming bookings</h3>
    Order by:
    <% if params[:params] == 'date DESC' %>
      <%= link_to oncomming_books_path('date ASC') do %>
        <button class="btn btn-primary">booking time <i class="fa fa-chevron-down  fa-1x"></i></button>
      <% end %>
    <% elsif params[:params] == 'date ASC' %>
      <%= link_to oncomming_books_path('date DESC') do %>
        <button class="btn btn-primary">booking time <i class="fa fa-chevron-up fa-1x"></i></button>
      <% end %>
    <% else %>
      <%= link_to oncomming_books_path('date ASC') do %>
        <button class="btn btn-default">booking time <i class="fa fa-chevron-down  fa-1x"></i></button>
      <% end %>
    <% end %>

    <% if params[:params] == 'updated_at DESC' %>
      <%= link_to oncomming_books_path('updated_at ASC') do %>
        <button class="btn btn-primary">post time <i class="fa fa-chevron-down "></i></button>
      <% end %>
    <% elsif params[:params] == 'updated_at ASC'%>
      <%= link_to oncomming_books_path('updated_at DESC') do %>
        <button class="btn btn-primary">post time <i class="fa fa-chevron-up "></i></button>
      <% end %>
    <% else %>
      <%= link_to oncomming_books_path('updated_at ASC') do %>
        <button class="btn btn-default">post time <i class="fa fa-chevron-up "></i></button>
      <% end %>
    <% end %>


    <br><br>
    <% @all_bookings.each do |booking| %>
    <%= link_to "#" do %>
      <%= image_tag User.find(booking.user_id).picture.url(:thumb) %>
      <%= User.find(booking.user_id).first_name.titleize %>
      <%= User.find(booking.user_id).last_name.titleize %>
    <% end %>

    <%= distance_of_time_in_words_to_now(booking.updated_at) %>
    <br/>
    Reservation for <%= booking.number_of_people %><br/>
    on <%= booking.date.to_formatted_s(:long_ordinal) %> <br/>
    <%= booking.user_comment %><br>

    <br/><br/>
    <% end %>
  <% end %>
</div>

