<div class="container">
  <h2>Booking at <%= @restaurant.name.titleize%></h2>
  <% if @booking.status == 'sent'%>
    <h3><i class="fa fa-clock-o" style="color:orange"></i> Pending</h3>
  <% elsif @booking.status == 'accepted'%>
    <h3><i class="fa fa-check" style="color:green"></i> Accepted</h3>
  <% elsif @booking.status == 'rejected' %>
    <h3><i class="fa fa-close" style="color:red"></i>Rejected</h3>
  <% end %>

  on <%= @booking.date.to_formatted_s(:long_ordinal) %><br/>
  for <%= pluralize(@booking.number_of_people , 'person')%><br/>
  <% if @booking.user_comment != "" %>
    <strong><%= @user.first_name.titleize %></strong>:<br/>
    <%= @booking.user_comment%><br/>
  <% end %>
  <% if @booking.restaurant_comment != "" %>
    <strong><%= @restaurant.name.titleize %></strong>:<br/>
    <%= @booking.restaurant_comment%><br/>
  <% end %>
  <%= link_to restaurant_booking_path(@restaurant.id, @booking.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
    <button class="btn btn-danger">
      <i class="fa fa-trash"> Delete</i>
    </button>
  <% end %>

  <% if @booking.status == 'sent' %>
   <%= link_to edit_restaurant_booking_path(@restaurant.id, @booking.id) do %>
      <button class="btn btn-warning">
        <i class="fa fa-pencil"> Edit</i>
      </button>
    <% end %>
  <% end %>
</div>
