<div class="row">
  <div class="col-md-10 col-md-offset-1" >
    <div class="panel panel-body">
      <div class="panel-body">
        <h3><i class="fa fa-clock-o" style="color:orange"></i> Pending Requests:</h3><hr>
        <% if @pending_booking == []%>
          <h4>No pending requests at the moment</h4>
        <% else %>
          <% @pending_booking.each do |request| %>
            <p>Booking request at <%= Restaurant.find(request.restaurant.id).name.titleize %>
            on <%= request.date.to_formatted_s(:long_ordinal)%>
            for <%= pluralize(request.number_of_people , 'person') %>.
            <%= link_to restaurant_booking_path(request.restaurant.id,request.id), class: "btn btn-md btn-align-right user-badge-blue link-tcolor" do %>Show <i class="glyphicon glyphicon-hand-right"></i>
              <% end %></p>
            <hr>
          <% end %>
        <% end %>
      </div><br>

      <% if @acc_booking != [] %>
        <div class="t-panel">
          <h3><i class="fa fa-check" style="color:green"></i> Accepted Requests:</h3><hr>
          <% @acc_booking.each do |request| %>
          <p>Booking request at <%= Restaurant.find(request.restaurant.id).name.titleize %>
          on <%= request.date.to_formatted_s(:long_ordinal)%>
          for <%= pluralize(request.number_of_people , 'person') %>.
          <%= link_to  restaurant_booking_path(request.restaurant.id,request.id), class: "btn btn-md btn-align-right user-badge-blue link-tcolor" do %>Show <i class="glyphicon glyphicon-hand-right"></i><% end %></p><br>
              <hr>
            <% end %>
          <% end %>
        </div><br>

      <% if @rej_booking != [] %>
        <div class="t-panel">
          <h3><i class="fa fa-close" style="color:red"></i> Rejected Requests:</h3><hr>
          <% @rej_booking.each do |request| %>
            <p>Booking request at <%= Restaurant.find(request.restaurant.id).name.titleize %>
            on <%= request.date.to_formatted_s(:long_ordinal)%>
            for <%= pluralize(request.number_of_people , 'person') %>.
            <%= link_to  restaurant_booking_path(request.restaurant_id,request.id), class: "btn btn-md btn-align-right user-badge-blue link-tcolor" do %>Show <i class="glyphicon glyphicon-hand-right"></i><% end %>
                <%= link_to restaurant_booking_path(request.restaurant_id, request.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-md btn-align-right user-badge-red link-tcolor" do %>Delete <i class="glyphicon glyphicon-trash"></i><% end %></p><br>
                <hr>
              <% end %>
          <% end %>
        </div>

    </div>
  </div>
</div>

