<div class="row">
  <div class="col-md-9 col-md-offset-1" >
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-6">
          <button class="user_picture_link">
            <%= image_tag @user.picture.url(:medium), class: "img img-size"%>
          </button>

          <h2><%= @user.first_name.titleize %> <%= @user.last_name.titleize %></h2>
          <h4><a href=""><%= @user.email %></a></h4>
          <p>Account created on <%= @user.created_at.to_formatted_s(:long_ordinal) %></p>
          <p>Last active in <%= distance_of_time_in_words_to_now(@user.last_sign_in_at)%> ago.</p>
        </div>

        <div class="col-xs-6">
          <br>
         <button class="btn btn-md btn-align-right user-badge-yellow"><%= pluralize(@reviews.count, 'Review') %></button>
         <button class="btn btn-md btn-align-right user-badge-green"><%= pluralize(@booking.count, 'Booking') %></button><br/>
        </div>



        <div id="imageshow" class='container' hidden>
        </div>

        <div id="image_div" hidden>
          <%= image_tag @user.picture.url, id: "shown_img"%>
        </div>
      </div>
    </div>
  </div>
</div>












