<nav class="navbar-wagon navbar-wagon-fixed <%= "navbar-wagon-transparent" if params[:action] == "home" %>">
  <div class="container navbar-wagon-container">

    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "navbar-wagon-logo" %>
    <% end %>

    <div class="navbar-wagon-pusher"></div>


    <% if user_signed_in? %>
      <div class="dropdown notification-button">
        <span class="dropdown-toggle " type="button" class="avatar dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-clock-o fa-lg"></span></span>
        <% remainder = Booking.where("user_id = #{current_user.id} AND status iLIKE '%accepted%'") %>
        <% remainder = remainder.select{ |booking| booking.date.day() == Time.now.day()} %>
        <% if remainder.count > 0 %>
         <div class='navbar-alert'><%= remainder.size %></div>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <% remainder.each do |booking| %>

            <li>
              <%= link_to restaurant_booking_path(booking.restaurant_id, booking.id) do %>
                <%= image_tag Restaurant.find(booking.restaurant_id).cover_picture.url(:thumb) %> You have a booking today at <%= Restaurant.find(booking.restaurant_id).name.titleize %>
              <% end %>
            </li>
            </ul>
          <% end %>
        <% else %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">You have no booking for today</a></li>
          </ul>
        <% end %>

      </div>
        &nbsp&nbsp&nbsp&nbsp
      <div class="dropdown notification-button">
        <span class="dropdown-toggle " type="button" class="avatar dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-bell fa-lg"></span>
        <% notifi = Booking.where("user_id = #{current_user.id} AND status iLIKE '%show-pending%'").order('updated_at DESC') %>
        <% if notifi.count > 0 %>
           <div class='navbar-notification'><%= notifi.count %></div>
        </span>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% notifi.each do |notification|%>
              <% if notification.status == "accepted-show-pending"%>
                <li> <%= link_to restaurant_booking_path(notification.restaurant_id,notification.id) do%>

                  <%= image_tag Restaurant.find(notification.restaurant.id).cover_picture.url(:thumb) %>
                  <%= Restaurant.find(notification.restaurant.id).name.titleize %>
                 accepted your booking request</li></a>
                 <% end %>
              <% elsif notification.status == "rejected-show-pending" %>
                <li> <%= link_to restaurant_booking_path(notification.restaurant_id,notification.id) do%>
                  <%= image_tag Restaurant.find(notification.restaurant.id).cover_picture.url(:thumb) %>
                  <%= Restaurant.find(notification.restaurant.id).name.titleize %>
                 rejected your booking request</li></a>
                 <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <% else %>
        </span>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <li><a href="#">no new notification</a></li>
          </ul>
        </div>

        <% end %>
      &nbsp&nbsp&nbsp
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.picture.url(:thumb), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user.id) do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to user_books_path do %>
                <i class="fa fa-book"></i> <%= t ".booking", default: "Booking" %>
              <% end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <hr>
      <%= link_to t(".top_call_to_action", default: "Login to your place"), new_restaurant_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
  </div>
</nav>
