<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to my_establishment_profile_path, class: "navbar-brand" do%>
        <%= image_tag "logo.png", style: "width: 50px;" %>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= image_tag current_user.picture.url(:thumb),class: "img-circle",id: "propic_navbar" %></li>
        <li><%= link_to current_user.first_name.capitalize, my_profile_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

        <li role="separator" class="divider"></li>
        <% elsif restaurant_signed_in? %>
        <li><%= image_tag current_restaurant.cover_picture.url(:thumb),class: "img-circle",id: "propic_navbar" %></li>
        <li></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Establishment Account", new_restaurant_session_path %></li>

            <li><%= link_to "About us", new_user_session_path %></li>
            <li><%= link_to "Contact us", new_user_session_path %></li>

          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
