<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-logo">
      <%= link_to restaurant_path(current_restaurant.id), class: "navbar-brand" do%>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>

    <ul class="sidebar-nav">
      <li>
          <%= link_to restaurant_path(current_restaurant.id)  do %>
            <i class="fa fa-user"></i> My profile
          <% end %>
      </li>
      <li>
          <%@bookings = Booking.where("bookings.restaurant_id = #{current_restaurant.id} AND bookings.viewed_by_place = #{false}")%>
          <%= link_to place_books_path('date ASC') do %>
            <i class="fa fa-book"></i> Pend Bookings
            <% if @bookings.count > 0 %>
            <div class='notification'><%= @bookings.count %></div>
          <% end %>
          <% end %>
      </li>
      <li>
          <%@todays_bookings = Booking.where("restaurant_id = #{current_restaurant.id} AND status iLIKE '%accepted%'")%>
          <% @todays_bookings = @todays_bookings.select{ |booking| booking.date.day() == Time.now.day() } %>
          <%= link_to oncomming_books_path('date ASC') do %>
            <i class="fa fa-check"></i>Acc Bookings
              <% if @todays_bookings.size > 0 %>
               <div class='alert-notification'><%= @todays_bookings.size %></div>
               <% end %>
          <% end %>
      </li>
      <li>
        <%@reviews = Review.where("reviews.restaurant_id = #{current_restaurant.id} AND reviews.viewed_by_place = #{false}")%>
         <%= link_to reviews_path  do %>
           <i class="fa fa-star"></i> Reviews
          <% if @reviews.count > 0 %>
            <div class='notification'><%= @reviews.count %></div>
          <% end %>
         <% end %>
      </li>
      <li>
        <%= link_to restaurant_edit_path  do %>
          <i class="fa fa-pencil"></i> Edit your place
        <% end %>
      </li>
      <li class="nav-btn" >
        <%= link_to  "#" do %>
          <i class="fa fa-plus"></i> Add an event
        <% end %>
      </li>
    </ul>

    <ul class="sidebar-secondary-links list-unstyled">
      <li><%= link_to "Logout", destroy_restaurant_session_path, method: :delete %></li>
    </ul>
  </div>
    <span  id="menu-toggle"><%= image_tag "toggle_button_back1.png"%></span>

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <!-- /#page-content-wrapper -->
</div>
