<div class="container rest-profile">
  <!-- image, name and category -->
  <div class="row">
    <div class="col-xs-3" >
      <div id="restaurant_div_pp">
      <button class="picture_link">
        <%= image_tag @restaurant.cover_picture.url(:medium) %>
      </button>
    </div>
      <h3>Phone number:</h3>
      <%= @restaurant.phone_number%>
      <hr>
      <h3>Location:</h3>
      <%= @restaurant.address%><br/><br/>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=200x200&sensor=false&maptype=roadmap&markers=color:red|#{@restaurant.address}" %>
      <hr>
      <%= link_to @restaurant.facebook_page, target: "_blank" do %>
        <span class="fa fa-facebook"> facebook</span>
      <% end %>
      <br/><br/>
      <%= link_to @restaurant.twitter_handle, target: "_blank" do %>
        <span class="fa fa-twitter"> twitter</span>
      <% end %>
      <br/><br/>
      <%= link_to @restaurant.website_url, target: "_blank" do %>
        <span class="fa fa-globe"> website</span>
      <% end %>
      <br/><br/>
      <%= mail_to @restaurant.email do%>
        <span class="fa fa-envelope-o"> <%= @restaurant.email%></span>
      <% end %>
      <hr>
      <br/><br/>
      <% if current_user != nil %>

      <%= link_to 'Book request', new_restaurant_booking_path(@restaurant.id),class: 'btn btn-primary'%>
      <% elsif  current_restaurant != nil%>
        <%= link_to 'Book request', new_restaurant_booking_path(@restaurant.id),class: 'btn btn-primary',disabled: true%>
      <% else %>
      <%= link_to 'Book request', new_restaurant_booking_path(@restaurant.id),class: 'btn btn-primary',disabled: true%><br/>
        <i> Sign in to send a booking request!</i>
      <% end %>

    </div>
    <div class="col-xs-9 restaurant-details">
      <div class="restaurant-main-infos">
        <h1><%= @restaurant.name %></h1>
        <p><%= @restaurant.category.titleize %></p>
      </div>
      <div id="title-review">
         <span id="review-count-title"><%= pluralize(@reviews_count, 'Review') %></span>
        <i class="btn btn-success btn-circle_rating"><%= @restaurant_ratings %></i>
      </div>
      <hr>
      <div class="col-xs-12">
      <%= @restaurant.description%><br/><br/>

      <%if @opening_days_hours[Date::DAYNAMES[Time.now.wday].downcase]['open'] == 'true'%>
      <span class="" id="opening_hours_show"><span class="fa fa-check"></span> Open
      <span id="opening_hours_arrow" class="fa fa-angle-down"></span></span>
       from <strong><%= @opening_days_hours[Date::DAYNAMES[Time.now.wday].downcase]['opening_hour'] %></strong>
       till <strong><%= @opening_days_hours[Date::DAYNAMES[Time.now.wday].downcase]['closing_hour'] %></strong>
       <br>
       <% if @opening_days_hours[Date::DAYNAMES[Time.now.wday].downcase]['program'] != "" %>
          <strong><%= @opening_days_hours[Date::DAYNAMES[Time.now.wday].downcase]['program'].titleize %></strong><br/>
        <% end %>
      <% else %>
        <div class="" id="opening_hours_show">See weekday opening hours<span id="opening_hours_arrow" class="fa fa-angle-down"></span></div>
      <% end %>
      <br/>
      <div id="operation_hour" hidden>
        <% @opening_days_hours.each do |key,value|%>
        <% if value["open"] == 'true'%>

          <span class="btn btn-success weekdays">
            <span class="fa fa-check"></span>
            <%= key.first(3).capitalize %>
          </span>

          from <strong><%= value['opening_hour'] %></strong>
          till <strong><%= value['closing_hour'] %></strong>

          <% if value['program'] != "" %>
            <i class="fa fa-arrow-right"></i>
            <strong><%= value['program'].titleize %></strong>
          <% end %>

          <br/><br/>

        <% else %>

          <span class="btn btn-danger weekdays">
            <span class="fa fa-close"></span>
            <%= key.first(3).capitalize %>
          </span>
          <i class="fa fa-arrow-right"></i>
          <strong>Closed</strong>
          <br/>
          <br/>

        <% end %>

        <% end %>


      </div>
      <br/>
      <hr>
      <h2>Menu:</h2>
      <button class="picture_link">
        <%= image_tag @restaurant.menu_picture.url(:link) %>
      </button>
      <hr>
      <h2>Pictures:</h2>
      <button class="picture_link">
        <%= image_tag @restaurant.item_picture.url(:link) %>
      </button>
      <hr>

      <h2>Reviews:</h2>
      <% if current_user != nil %>
        <% if @user_review == [] %>
          <% if @review.errors.any? %>
          <div id="error_explanation">
            <p class="alert alert-danger alert-sm">
              <% @review.errors.full_messages.each do |message| %>
              <%= message %><br/>
              <% end %>
            </p>
          </div>
          <%end%>
          <%= form_for(@review) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :restaurant_id, value: @restaurant.id %>

            <%= f.hidden_field :rating %>

            <h4><%= f.label "Write a review: " %>
            <div class="rating">
              <span class="rating_button" id="star-5" value="5">☆</span>
              <span class="rating_button" id="star-4" value="4">☆</span>
              <span class="rating_button" id="star-3" value="3">☆</span>
              <span class="rating_button" id="star-2" value="2">☆</span>
              <span class="rating_button" id="star-1" value="1">☆</span>
            </div></h4>
            <%= f.text_area :content, autofocus: true, class: "form-control input-medium" %><br/>

            <%= f.submit "Submit" ,class: "btn btn-primary signUpbtn btn-align-right" ,id:'review_submit', disabled: true%><br/><br/>

          <% end %>
        <% else %>
          <div class="review_container" >
            <%= image_tag current_user.picture.url(:thumb), class: 'img-circle'%>
            <strong>You </strong> <span id="review-stars">gave this restaurant a <%= @user_review[0].rating%> stars</span> &nbsp
            <%= link_to review_path(@user_review[0].id), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>


            <br/><hr>
            <% if @user_review[0].content != nil && @user_review[0].content != ''%>
              <div class="review_content">
                <%= @user_review[0].content %>
            </div>
            <% end %>



          </div><br/>
        <% end %>
      <% end %>
        <% if @reviews == [] %>
          <h5>There are no reviews for this place yet...</h5>
        <% elsif @reviews == [0]%>
        <br/><br/><strong>Only you reviewed this place</strong><br/><br/>
        <% else %>
          <% @reviews.each do |review|%>
            <div class="review_container">
              <strong><%= image_tag User.find(review.user_id).picture.url(:thumb), class: 'img-circle'%>
                <%= link_to user_path(User.find(review.user_id).id) do %>
                  <%= User.find(review.user_id).first_name.titleize %>
                  <%= User.find(review.user_id).last_name.titleize %>
                <% end %>
                </strong>
                <span id="review-stars">gave this restaurant a <%= review.rating%> stars</span>
              <hr>
              <% if review.content != nil && review.content != ''%>

                <div class="review_content">
                    <%= review.content %>

               </div>
            <br/><br/>

              <% end %>

            </div>
            <% end %>
          <% end %>


    </div>
    </div>
  </div>
</div>

<div id="imageshow" class='container' hidden>
</div>
<div id="image_div" hidden>
  <%= image_tag @restaurant.item_picture.url, id: "shown_img"%>
</div>
