<div class="container">

  <!-- image, name and category -->
  <div class="row">
    <div class="col-xs-3" >
      <div id="restaurant_div_pp">
      <%= image_tag @restaurant.cover_picture.url(:medium) %>
    </div>
      <h3>Location:</h3>
      <%= @restaurant.address%><br/><br/>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=200x200&sensor=false&maptype=roadmap&markers=color:red|#{@restaurant.address}" %>
    </div>
    <div class="col-xs-9">
      <h1><%= @restaurant.name %></h1>
      <%= @restaurant.category %>
      <hr>
      <div class="col-xs-9">
      <h2>Opening Hours:</h2>
      <%= @restaurant.opening_days_hours%>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <hr>

    </div>

  </div>



</div>
