<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
<% if @reviews == [] and @all_reviews != []%>
    <h2> There are no new reviews</h2>
<% else %>
<% @reviews.each do |review|%>
  <div class="review_container">
    <strong>
      <%= image_tag User.find(review.user_id).picture.url(:thumb), class: 'img-rounded'%>
      <%= link_to user_path(User.find(review.user_id).id) do %>
        <%= User.find(review.user_id).first_name.titleize %>
        <%= User.find(review.user_id).last_name.titleize %>
      <% end %>
    </strong>
    <span id="review-stars">gave this restaurant a <%= review.rating%> stars</span>
    <br/><hr>
    <% if review.content != nil && review.content != ''%>

      <div class="review_content">

          <%= review.content %>
      </div>
    <% end %>

  </div>
  <br/><br/>
  <% end %>
<% end %>
<hr>
<% if @all_reviews == [] and @reviews == []%>
  <h2> Your place has no reviews</h2>
<% else %>
  <% @all_reviews.each do |review|%>
  <div class="review_container">
    <strong>
      <%= image_tag User.find(review.user_id).picture.url(:thumb), class: 'img-rounded'%>
      <%= link_to user_path(User.find(review.user_id).id) do %>
        <%= User.find(review.user_id).first_name.titleize %>
        <%= User.find(review.user_id).last_name.titleize %>
      <% end %>
    </strong>
    <span id="review-stars">gave this restaurant a <%= review.rating%> stars</span>
    <br/><hr>
    <% if review.content != nil && review.content != ''%>

      <div class="review_content">

          <%= review.content %>
      </div>
    <% end %>

  </div>
  <br/><br/>
  <% end %>
<% end %>
      </div>
    </div>
  </div>
</div>
