<!DOCTYPE html>
<html>
<head>
  <title>BAG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller]%>_<%= params[:action]%>">
  <% if restaurant_signed_in? %>
    <%= render "shared/side_bar" %>
  <% else %>
    <%= render "shared/navbar"%>
  <%end%>
  <%= render 'shared/flashes' %>

  <%= yield %>
</body>
</html>
