<!DOCTYPE html>
<html>
<head>
  <title>BAG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <% if restaurant_signed_in? %>
    <%= render "shared/side_bar" %>
    <div class="restaurant-pages">
      <%= yield %>
    </div>
  <% else %>
    <%= render "shared/navbar"%>
    <div class="<%= params[:action] == "home" ? 'home' : 'user-pages' %>">
      <%= yield %>
    </div>
  <%end%>
  <%= render 'shared/flashes' %>
</body>
</html>
